div{

    height:50px ;
    width: 50px;
    background-color: red;

    transition: all 0.5s ease;

}
@media(width:500px){
    div{
        background-color: blue;
        width: 100px;
        height: 100px;
    }
}

#div{
    height:50px ;
    width: 50px;
    background-color: green;

    transition: all 0.5s ease;
    margin-top: 20px;
}
@media(min-width:500px){
    #div{
        background-color: yellow;
        width: 100px;
        height: 100px;
    }
}
@media(max-width:500px){
    #div{
        background-color: purple;
        width: 150px;
        height: 150px;
    }
}
@media(min-width:200px) and (max-width:400px){
    #div{
        background-color:paleturquoise;
        width: 200px;
        height: 200px;
    }
}
   
