div{
    height:100px;
    width:100px;
    background-color:#008000;
    border-radius: 50%;
    text-align: center;
}

body{
    background-color:blue;
}
pre{
    background-color: black;
    color: white;
border-color: white;
border-width: 5px;
    border-width: 4px;
    padding-top: 10px;
}