#b1{
    width:100px;
    height:10px;
    margin:25px;
    padding:100px;
    display:inline-block;
    background-color:rgba(255,0,0,0.75)
   

}
#b2{
    width:100px;
    height:10px;
    margin:25px;
    padding:100px;
    display:inline-block;
    background-color:rgba(0,255,0,0.75)
}
#b3{
    width:100px;
    height:10px;
    margin:25px;
    padding:100px;
    display:inline-block;
    background-color:rgba(0,0,255,0.75)
}