body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;

}
#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;


}
#box1{
    background-color: violet;
}
#box2{
    background-color:blue;
}

#box3{
    background-color: palevioletred;
}

#box4{
    background-color:red;
}


#box5{
    background-color: green;
}


body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;

}
#container1{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction:row-reverse;


}
#boox1{
    background-color: violet;
}
#boox2{
    background-color:blue;
}

#boox3{
    background-color: palevioletred;
}

#boox4{
    background-color:red;
}


#boox5{
    background-color: green;
}


body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;

}
#container3{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction:column;


}
#boxx1{
    background-color: violet;
}
#boxx2{
    background-color:blue;
}

#boxx3{
    background-color: palevioletred;
}

#boxx4{
    background-color:red;
}


#boxx5{
    background-color: green;
}

body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;

}
#container4{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction:column-reverse;


}
#boxes1{
    background-color: violet;
}
#boxes2{
    background-color:blue;
}

#boxes3{
    background-color: palevioletred;
}

#boxes4{
    background-color:red;
}


#boxes5{
    background-color: green;
}

