p{
    text-align: center;
}
h1{
    text-align:center ;
    text-decoration:red underline;
}
h2{
    text-decoration:blue wavy overline
}
h3{
    text-decoration:pink dotted underline
}
h4{
    text-decoration:line-through
}
a{
    text-decoration:none
}