div{
    color: red;
    font-size: 30px;        
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px red;
    margin: 30px;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    background-color:pink ;
    text-shadow: 2px 2px 5px grey;
    text-transform: capitalize;
    text-wrap-style: pretty;
;

border-color: lavenderblush;
text-decoration-thickness: from-font;
transition-timing-function: easy-in-out;



}
div:hover{
    background-color: lightgreen;
    color: blue;
    box-shadow: 4px 4px 10px blue;
    text-shadow: 2px 2px 5px lightblue;
    text-decoration-color: blue;
    border-color: lightblue;
}